@model List<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Media Player Electron</title>
    <meta charset="utf-8" />
</head>
<body>
    <h3>Lista de Músicas</h3>
    @if (Model.Count == 0)
    {
        <p>Nenhum música encontrada, para testar, ponha arquivos mp3 e mp4 em <i>C:\Users\<b>[WindowsUser]</b>\Music</i></p>
    }
    else
    {
        <ul>
            @foreach (var musicFile in Model)
            {
                <li>
                    @System.IO.Path.GetFileNameWithoutExtension(musicFile)
                    <button onclick="playMusic('@musicFile.Replace(@"\", "/")')">Play</button>
                </li>
            }
        </ul>
        <script>
            function playMusic(musicFile) {
                let audio = new Audio(`file:///${musicFile}`);
                audio.play();
            }
        </script>
    }
</body>
</html>
